# DATABASE (Dijalankan via Docker di VPS)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_yang_sangat_rahasia
POSTGRES_DB=tracking_sholat
DATABASE_URL="postgresql://postgres:password_yang_sangat_rahasia@localhost:5432/tracking_sholat?schema=public"

# API & SERVER CONFIG
PORT=8000
NODE_ENV=production
JWT_SECRET="ganti_dengan_string_random_yang_panjang_dan_aman"

# FRONTEND CONFIG (Penting untuk Build Time)
VITE_API_BASE_URL="https://api.sholatify.anaslabs.my.id"
